@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    font-family: 'Arial', Helvetica, sans-serif;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('/images/bg.png');
}

.content-title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: lighter;
    font-size: 20px;
    margin: 30px 0;
}

.content-title::before,
.content-title::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
    margin: 0 10px;
}

.hr-center {
    margin: 30px 0;
    height: 25px;
    background: url(/images/hr.png) no-repeat center;
    border: none;
}

.hr-left {
    margin: 30px 0;
    height: 25px;
    background: url(/images/hr.png) no-repeat left;
    border: none;
}
